  <%= form_with(model: @task,local: true) do |form| %>
    <% if @task.errors.any? %>
      <div>
        <% @task.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

<table>
  <tr>
  <th><%= form.label :title %></th>
  <td><%= form.text_field :title %></td>
  </tr>
  <tr>
  <th><%= form.label :content %></th>
  <td><%= form.text_area :content %></td>
  </tr>
  <tr>
  <th><%= form.label :expired_at %></th>
  <td><%= form.date_field :expired_at %></td>
  </tr>
  <tr>
  <th><%= form.label :status %></th>
  <td><%= form.select :status,[nil,
    [t('view.not_start'),t('view.not_start')],
    [t('view.start'),t('view.start')],
    [t('view.finish'),t('view.finish')]]
      %></td>
  </tr>
  <tr>
  <th><%= form.label :priority %></th>
  <td><%= form.select :priority, Task.priorities_i18n.keys.map{|k| [Task.priorities_i18n[k], k]} %></td>
  </tr>
  <tr>
  <td><%= form.submit %></td>
</tr>
</table>

  <% end %>
  <%= link_to t('view.back'), :back %>
