  <%= form_with(model: @task,local: true) do |form| %>
    <% if @task.errors.any? %>
      <div>
        <% @task.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

<table>
  <tr>
  <th><%= form.label :title %></th>
  <td><%= form.text_field :title %></td>
  </tr>
  <tr>
  <th><%= form.label :content %></th>
  <td><%= form.text_field :content %></td>
  </tr>
  <tr>
  <th><%= form.label :expired_at %></th>
  <td><%= form.text_field :expired_at %></td>
  </tr>
  <tr>
  <td><%= form.submit %></td>
  </tr>
</table>

  <% end %>
  <%= link_to t('view.back'), :back %>
