  <%= form_with(model: @task,local: true) do |form| %>
    <% if @task.errors.any? %>
      <div>
        <% @task.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.submit %>
  <% end %>
  <%= link_to t('view.back'), :back %>
