<h1>一覧</h1>
  <% @tasks.each do |task| %>
  <div>
    <%= task.title %>
    <%= task.content %>
    <%= link_to '詳細',task_path(task.id) %>
    <%= link_to '編集する',edit_task_path(task.id) %>
    <%= link_to '削除する',task_path(task.id) ,method: :delete %>
    </div>
  <% end %>
  <%= link_to "作成する",new_task_path %>
