<h1><%= t('view.index') %></h1>
  <% @tasks.each do |task| %>
    <div>
      <%= task.title %>
      <%= task.content %>
      <%= task.created_at.strftime("%Y-%m-%d %H:%M") %>
      <%= link_to t('view.show'),task_path(task.id) %>
      <%= link_to t('view.edit'),edit_task_path(task.id) %>
      <%= link_to t('view.delete'),task_path(task.id) ,method: :delete %>
    </div>
  <% end %>
  <%= link_to t('view.create'),new_task_path %>
