<h1>ユーザー<%= t('view.edit') %></h1>
<%= form_with(model: [:admin,@user],local: true) do |f| %>
<table  class="new_table">
  <tr>
  <th><%= User.human_attribute_name(:name) %></th>
  <td><%= f.text_field :name %></td>
  </tr>
  <tr>
  <th><%= User.human_attribute_name(:email)   %></th>
  <td><%= f.text_field:email %></td>
  </tr>
  <tr>
  <th><%= User.human_attribute_name(:admin)   %></th>
  <td><%= f.select :admin,[true,false] %></td>
  </tr>
</table>
<%= f.submit %>
<%= link_to t('view.back'), :back %>
<% end %>
